{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% include "alerts.html" %}

#Filtro de busqueda
<div class ="form-container-search">
  <form method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
    <div>
        <label for="precio_min">Precio mínimo:</label>
        <input type="number" name="precio_min">
        <label for="precio_max">Precio máximo:</label>
        <input type="number" name="precio_max">
        <label for="banos">Número de baños:</label>
        <input type="number" name="banos">
        <label for="habitaciones">Número de dormitorios:</label>
        <input type="number" name="habitaciones">
        <label for="tipo_operacion">Tipo de operación:</label>
        <select name="tipo_operacion">
            <option value="">Todos</option>
            <option value="venta">Venta</option>
            <option value="alquiler">Alquiler</option>
            <option value="temporada">Temporada</option>
        </select>
        <label for="tipo_propiedad">Tipo de propiedad:</label>
        <select name="tipo_propiedad">
            <option value="">Todos</option>
            <option value="departamento">Departamento</option>
            <option value="casa">Casa</option>
            <option value="deposito">Deposito</option>
            <option value="edificio">Edificio</option>
            <option value="quinta">Quinta Vacacional</option>
        </select>
        <button type="submit">Filtrar</button>
    </div>
  </form>
</div>
<div class="container">
  {% for publicacion in publicaciones %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ publicacion.autor.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ publicacion.autor }}</a>
          <small class="text-muted">{{ publicacion.fecha_creacion|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' publicacion.id %}">{{ publicacion.titulo }}</a></h2>
        <p class="article-content">{{ publicacion.descripcion }}</p>
        
        <img src="{{ publicacion.imagen_principal.url }}" alt="{{ publicacion.titulo }}" class="publicacion-image">

        <p>{{ publicacion.get_tipo_operacion_display }}</p>
        <p>{{ publicacion.get_tipo_propiedad_display}}</p>
        <p>Precio: {{ publicacion.precio }}</p>
        <p>Habitaciones: {{ publicacion.habitaciones }}</p>
        <p>Baños: {{ publicacion.banos }}</p>
        <p>Metros Cuadrados: {{ publicacion.metros_cuadrados }}</p>
        <p>Direccion: {{ publicacion.direccion }}</p>
        <p>Provincia: {{ publicacion.provincia }}</p>
        <p>Ciudad: {{ publicacion.ciudad }}</p>

      </div>
    </article>
  {% endfor %}
</div>
{% endblock content %}



