{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% include "alerts.html" %}

<div class="form-container-search">
  <form method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
    <div class="filter-select">
    <label for="tipo_operacion" class="sr-only">Tipo de operación:</label>
      <select name="tipo_operacion" id="tipo_operacion" class="filter-select" onchange="this.form.submit()">
        <option value="">Todos</option>
        <option value="venta" {% if request.GET.tipo_operacion == "venta" %}selected{% endif %}>Venta</option>
        <option value="alquiler" {% if request.GET.tipo_operacion == "alquiler" %}selected{% endif %}>Alquiler</option>
        <option value="temporada" {% if request.GET.tipo_operacion == "temporada" %}selected{% endif %}>Temporada</option>
      </select>
    <label for="tipo_propiedad" class="sr-only">Tipo de propiedad:</label>
      <select name="tipo_propiedad" id="tipo_operacion" class="filter-select" onchange="this.form.submit()">
        <option value="">Propiedad</option>
        <option value="departamento" {% if request.GET.tipo_propiedad == "departamento" %}selected{% endif %}>Departamento</option>
        <option value="casa" {% if request.GET.tipo_propiedad == "casa" %}selected{% endif %}>Casa</option>
        <option value="deposito" {% if request.GET.tipo_propiedad == "deposito" %}selected{% endif %}>Depósito</option>
        <option value="edificio" {% if request.GET.tipo_propiedad == "edificio" %}selected{% endif %}>Edificio</option>
        <option value="quinta" {% if request.GET.tipo_propiedad == "quinta" %}selected{% endif %}>Quinta Vacacional</option>
      </select>
      {% comment %} <label for="provincia">Provincia:</label>
      <input type="text" name="provincia" placeholder="Ingrese la provincia">
      <label for="ciudad">Ciudad:</label>
      <input type="text" name="ciudad" placeholder="Ingrese la ciudad"> {% endcomment %}
      <div class="precio-container">
        <button type="button" onclick="applyPriceFilter()">Precio <i id="arrow-icon" class="fas fa-chevron-down"></i> </button>
        <div id="precio-options" class="precio-options" style="display: none;">
          <input type="number" id="precio_min" name="precio_min" placeholder="Desde" onclick="clearPlaceholder(this)">
          <input type="number" id="precio_max" name="precio_max" placeholder="Hasta" onclick="clearPlaceholder(this)">
        </div>    
      </div> 
      <div class="amb-dorm-filter">
        <button type="button" onclick="toggleAmbDormFilter()">Amb | Dorm <i id="arrow-icon" class="fas fa-chevron-down"></i> </button>
        <div id="amb-dorm-options" class="amb-dorm-options" style="display: none;">
          <input type="number" name="ambientes" placeholder="Ambientes" value="{{ request.GET.ambientes }}">
          <input type="number" name="habitaciones" placeholder="Dormitorios" value="{{ request.GET.habitaciones }}">
        </div>
      </div>      
      <button type="submit">Filtrar</button>
    </div>
  </form>
</div>
<div class="container">
  {% for publicacion in publicaciones %}
    {% if publicacion.estado == 'publicada' %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ publicacion.autor.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            {% if publicacion.autor == user %}
              <a class="mr-2" href="{% url 'perfil' %}">{{ publicacion.autor }}</a>
            {% else %}
              <a class="mr-2" href="{% url 'ver_perfil' user_id=publicacion.autor.id %}">{{ publicacion.autor }}</a>
            {% endif %}
            <small class="text-muted">
              <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                {{ publicacion.fecha_creacion|date:"F d, Y" }}
              </a>
            </small>
          </div>
          <div>
          <h1 class="titlebar">
            <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
              {{ publicacion.titulo }}
            </a>
          </h1>
          <br>
          <p class="card__price">
            <span class="card__currency">$</span> {{ publicacion.precio }}
            <span class="card__expenses"> + {{ publicacion.expensas }} expensas</span>
          </p>
          <div>
            <p class="titlebar">
              <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                {{ publicacion.direccion }},{{ publicacion.ciudad }}, {{ publicacion.provincia }}
              </a>
            </p>
          </div>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                  <img src="{{ publicacion.imagen_principal.url }}" alt="{{ publicacion.titulo }}">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                  <img src="{{ publicacion.image2.url }}" alt="{{ publicacion.titulo }}">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                  <img src="{{ publicacion.image3.url }}" alt="{{ publicacion.titulo }}">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="{% url 'post-detail' publicacion.id %}" style="text-decoration: none; color: inherit;">
                  <img src="{{ publicacion.image4.url }}" alt="{{ publicacion.titulo }}">
                </a>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <br>
          <i class="fas fa-bed"></i> {{ publicacion.habitaciones }} dorm.
          <i class="fas fa-door-open"> </i>{{ publicacion.ambientes }} amb.
          <i class="fas fa-square"></i> {{ publicacion.metros_cuadrados }} m²
          <i class="fas fa-toilet"></i> {{ publicacion.banios }} baño
          <br>
          <br>
          <div class="botones-container">
            <div class="favorito-button">
              {% if publicacion in request.user.profile.favoritos.all %}
                  <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=1" class="btn btn-danger btn-sm">Deshacer Favorito</a>
              {% else %}
                  <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=0" class="btn btn-primary btn-sm">Favorito</a>
              {% endif %}
            </div>
            <div class="contactar-button">
              <a href="https://wa.me/5493492569283/?text=Hola, vi esta propiedad en TuLugar y quiero más información por WhatsApp. https://tulugar.onrender.com/propiedad/{{ publicacion.id }}/" target="_blank" class="btn btn-success btn-sm">
                <i class="fab fa-whatsapp"></i> Contactar
              </a>
            </div>
          </div>
      </article>
    {% elif publicacion.estado == 'pendiente' and publicacion.autor == user %}
        <div class="alert alert-info">
          Tu publicación "{{ publicacion.titulo }}" está pendiente de revisión. Será publicada después de la revisión.
        </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}




