{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
{% include "alerts.html" %}
<div class="container">
  {% if object.estado == 'pendiente' and object.autor == user %}
    <div class="alert alert-info">
      Tu publicación "{{ object.titulo }}" está pendiente de revisión. Será publicada después de la revisión.
    </div>
  {% endif %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.autor.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.autor }}</a>
          <small class="text-muted">{{ object.fecha_creacion|date:"F d, Y" }}</small>
          {% if object.autor == user %}
            <div class="favorito-button">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Actualizar</a>
              <a class="btn btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Eliminar</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title"> {{ object.titulo }} </h2>
        <p class="article-content">{{ object.descripcion }}</p>
        
        <img src="{{ object.imagen_principal.url }}" alt="{{ object.titulo }}" class="publicacion-image">

        <p>{{ object.get_tipo_propiedad_display }}</p>
        <p>{{ object.get_tipo_operacion_display}}</p>
        <p>Precio: {{ object.precio }}</p>
        <p>Habitaciones: {{ object.habitaciones }}</p>
        <p>Ambientes: {{ object.ambientes }}</p>
        <p>Metros Cuadrados: {{ object.metros_cuadrados }}</p>
        <p>Direccion: {{ object.direccion }}</p>
        <p>Provincia: {{ object.provincia }}</p>
        <p>Ciudad: {{ object.ciudad }}</p>
      </div>
      <div class="favorito-button">
        {% if publicacion in request.user.profile.favoritos.all %}
            <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=1" class="btn btn-danger btn-sm">Deshacer Favorito</a>
        {% else %}
            <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=0" class="btn btn-primary btn-sm">Favorito</a>
        {% endif %}
      </div>
    </article>
</div>
{% endblock content %}