
*{
    font-family: var(--font-mono);
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #112240 !important;
}

nav {
    background-color: #0a192f;
}
.navbar-toggler{
    background-color: #a8b2d1;
  }

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--lightest-navy);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 1px 3px 0 var(--green), 0 1px 3px 0 var(--green);
    -webkit-box-shadow: 0 1px 3px 0 var(--green), 0 1px 3px 0 var(--green);
    -moz-box-shadow: 0 1px 3px 0 var(--green), 0 1px 3px 0 var(--green);
    border-radius: 2px;

}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: var(--white);
}
.btn{
    background: transparent;
    color: #64ffda;
    transition: var(--transition);
    border: 1px solid #64ffda;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn:hover {
    background: #64ffda;
    color: #112240;
    transition: var(--transition);
  }

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.login_btn {
    width: 100%;
    background: transparent;
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 4px;
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;
}

.login_btn:hover {
    background: #64ffda;
    color: #112240;
    transition: var(--transition);
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: transparent;
    color: var(--green) !important;
    border: 1px solid #64ffda;
    border-radius: 4px;
}

.ml-2 {
    color: var(--green);
}

.d-flex {
    color: var(--white);
}

#messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.ml-5{
    color: #64ffda;
}
.mt-1{
    color: var(--white);
}
.logo img {
    width: 200; 
    height: auto; 
  }

a{
    color: var(--green);
}

.container {
    margin: 20px auto;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
}

.content-section {
    background: var(--dark-slate);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.article-metadata {
    margin-bottom: 10px;
    color: var(--light-slate); /* Cambia el color del texto de metadatos */
}

.article-title {
    color: var(--green);
    text-decoration: none;
    transition: var(--transition);
}

.article-title:hover {
    color: #112240;
}

.article-content {
    color: var(--white);
}

/* Estilos para los campos adicionales */
.media-body p {
    color: var(--lightest-slate);
    margin: 5px 0;
}

.publicacion-image {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    margin-top: 10px;
}

/* Estilos para los filtros de búsqueda */
.form-container-search {
    background-color: var(--light-navy);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas si no caben en una sola línea */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: flex-start; /* Alinea los elementos al inicio de la línea */
}

.form-container-search label {
    color: var(--white);
    margin-right: 10px;
    white-space: nowrap; /* Evita que las etiquetas se envuelvan a la siguiente línea */
}

.form-container-search input[type="number"],
.form-container-search select {
    background-color: var(--dark-slate);
    color: var(--white); /* Establece el color del texto en blanco */
    border: 1px solid var(--dark-slate);
    border-radius: 4px;
    padding: 5px 10px;
    width: 130px; /* Ancho fijo para los campos de entrada */
}

.form-container-search button{
    background-color: var(--dark-slate);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: var(--transition);
}

.form-container-search button:hover {
    background-color: var(--green);
    color: var(--lightest-slate);
}

/* Estilo para el contenedor de precios */
.precio-container {
    display: inline-block;
    position: relative; /* Asegura que el posicionamiento relativo se aplique */
  }

.precio-options {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 100%; /* Posición respecto al padre (amb-dorm-filter) */
    left: 0;
    display: none;
    background-color: #112240; /* Fondo blanco para mayor contraste */
}

.amb-dorm-filter {
    display: inline-block;
    position: relative; /* Asegura que el posicionamiento relativo se aplique */
  }
  
.amb-dorm-options {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 100%; /* Posición respecto al padre (amb-dorm-filter) */
    left: 0;
    display: none;
    background-color: #112240; /* Fondo blanco para mayor contraste */
  }
  
  .tipo-propiedad-select {
    width: 200px; /* Ajusta el ancho según tus preferencias */
}
  



  
  
  


