{% block content %} 
{% endblock content %}

{% if messages %}
  {% for message in messages %}
    <div class="container-fluid mx-0 p-0 sticky-top">
      <div id="alert-{{ forloop.counter }}" class="alert {{ message.tags }} alert-dismissable fade show" role="alert">
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Cierra automáticamente las alertas después de 3 segundos
  $('.alert').each(function(index) {
    const alert = $(this);
    setTimeout(function() {
      alert.alert('close');
    }, 3000 * (index + 1));
  });
});
</script>
