{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}

<div class="container">
  {% for publicacion in favoritas %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ publicacion.autor.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ publicacion.autor }}</a>
          <small class="text-muted">{{ publicacion.fecha_creacion|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' publicacion.id %}">{{ publicacion.titulo }}</a></h2>
        <p class="article-content">{{ publicacion.descripcion }}</p>

        <img class="publicacion-image" src="{{ publicacion.imagen_principal.url }}">

        <p>{{ publicacion.get_tipo_operacion_display }}</p>
        <p>{{ publicacion.get_tipo_propiedad_display}}</p>
        <p>Precio: {{ publicacion.precio }}</p>
        <p>Habitaciones: {{ publicacion.habitaciones }}</p>
        {% comment %} <p>Ambientes: {{ publicacion.ambientes }}</p> {% endcomment %}
        <p>Metros Cuadrados: {{ publicacion.metros_cuadrados }}</p>
        <p>Dirección: {{ publicacion.direccion }}</p>
        <p>Provincia: {{ publicacion.provincia }}</p>
        <p>Ciudad: {{ publicacion.ciudad }}</p>

        <div class="favorito-button">
          {% if publicacion in request.user.profile.favoritas.all %}
              <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=1" class="btn btn-danger btn-sm">Deshacer Favorito</a>
          {% else %}
              <a href="{% url 'toggle_favorito' publicacion.id %}?favorito=0" class="btn btn-primary btn-sm">Favorito</a>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
</div>

{% endblock content %}
