{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% include "alerts.html" %}
{% include "nav.html" %}
<div class="profile-header">
    <h1>{{ usuario.username }}</h1>
    <h1>{{ usuario.first_name }} {{ usuario.last_name }}</h1>
    <img src="{{ perfil.image.url }}" alt="Imagen de perfil">
</div>

<div class="container">
    <h2>Publicaciones realizadas</h2>
    {% for publicacion in publicaciones %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ publicacion.fecha_creacion|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' publicacion.id %}">{{ publicacion.titulo }}</a></h2>
          <p class="article-content">{{ publicacion.descripcion }}</p>
  
          <img src="{{ publicacion.imagen_principal.url }}" alt="{{ publicacion.titulo }}" class="publicacion-image">
      </article>
    {% endfor %}

    <h2>Opiniones de sus clientes</h2>
    <ul>
        {% for review in reviews %}
            <small class="text-muted">{{ review.fecha_creacion|date:"F d, Y" }}</small> <br>
            <strong>{{ review.title }}</strong><br>
            <p>{{ review.description }}</p>
        {% endfor %}
    </ul>

    <h2>Crear una Nueva Reseña</h2>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ review_form.title.id_for_label }}"></label>
            {{ review_form.title }}
            <br>
            <label for="{{ review_form.description.id_for_label }}"></label>
            <textarea id="{{ review_form.description.id_for_label }}" name="{{ review_form.description.html_name }}" placeholder="Escribe tu reseña aquí..." rows="6" cols="40">{{ review_form.description.value|default_if_none:"" }}</textarea>
            <br>
            <div class="favorito-button">
            <button class="btn-outline-custom" type="submit">Crear Reseña</button>
            </div>
        </form>
    </div>
    
{% endblock content %}



